.dashboard {
  display: flex;
  height: 100vh;
  background-color: #f6f8fa;
}

.sidebar {
  gap: 20px;
  width: 18%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 60%;
}

.tabs {
  flex-grow: 1;
}

.settings {
  padding: 20px;
}

.logout {
  color: #f44336;
}

.content {
  width: 100%;
  margin: 6px;
  overflow: hidden;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #e8e9eb;
}

.invoiceSection {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.invoiceForm {
  display: flex;
  gap: 20px;
}

.form {
  flex: 2;
}

.preview {
  flex: 1;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.previewBox {
  background: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 8px;
}

.tabLabel {
  gap: 8px;
  display: flex;
  font-weight: 400;
  align-items: center;
  i {
    font-size: 18px;
  }
}

.container {
  display: grid;
  gap: 8px;
}

.card {
  gap: 8px;
  padding: 13px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  border: 1px solid #c7c7c7;
  justify-content: space-between;
}

.cardLeft {
  gap: 8px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #c7c7c7;
}

.menuIcon {
  cursor: pointer;
  color: #c7c7c7;
  font-size: inherit;
}

.footerText {
  font-size: 12px;
  color: #a2a2a2;
}
