.main {
  gap: 24px;
  padding: 24px;
  display: grid;
}

.container {
  width: 100%;
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  border: 1px solid #e8e9eb;
  background-color: #f8fafb;
  justify-content: space-between;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.05);
}

.header {
  padding: 12px;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;

  i {
    color: #7f8695;
    cursor: pointer;
  }
}

.preview {
  gap: 12px;
  display: grid;
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
  border-top: 1px solid #e8e9eb;
}

.balance {
  font-size: 32px;
  font-weight: 500;

  span {
    font-size: 16px;
    color: #7f8695;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.percentage {
  display: flex;
  line-height: 1;
  color: #5eb493;
  padding: 3px 8px;
  font-weight: 500;
  width: fit-content;
  align-items: center;
  border-radius: 60px;
  background-color: #ebf6f3;
}

.invoicesTable {
  padding: 16px;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid #e8e9eb;
}

.icon {
  padding: 6px;
  cursor: pointer;
  width: fit-content;
  border-radius: 6px;
  &:hover {
    background-color: #e8e9eb;
  }
}

.delete {
  color: #d83b3b;
  &:hover {
    background-color: #fcebeb;
  }
}
