.dashboard {
  display: flex;
  height: 100vh;
  background-color: #f9fafc;
}

.sidebar {
  width: 20%;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  padding: 20px;
  font-weight: bold;
  text-align: center;
  font-family: "CircularStd";
}

.tabs {
  flex-grow: 1;
}

.settings {
  padding: 20px;
}

.logout {
  color: #f44336;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.invoiceSection {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.invoiceForm {
  display: flex;
  gap: 20px;
}

.form {
  flex: 2;
}

.preview {
  flex: 1;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.previewBox {
  background: #fff;
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 8px;
}
