.main {
  background-color: #e6e6e6;
}

.container {
  display: flex;
  padding: 20px 0;
  margin: auto 120px;
  align-items: center;
  justify-content: space-between;
}

.menu {
  gap: 16px;
  display: flex;
  align-items: center;
}

.button {
  padding: 8px 20px;
  border-radius: 60px;
  border: 1px solid #111111;
  //   background-color: #929296;
}
