.main {
  gap: 24px;
  // padding: 24px;
  display: flex;
  justify-content: space-between;
  // grid-template-columns: repeat(2, 1fr);
}

.container {
  gap: 24px;
  display: grid;
}

.form {
  gap: 24px;
  display: grid;
  overflow: hidden;
  height: fit-content;
}

.header {
  gap: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.headerFrom {
  border-right: 1px dashed #e6e6e6;
}

.headerFrom,
.headerTo {
  gap: 12px;
  display: grid;
}

.headerToTop {
  display: flex;
  justify-content: space-between;
}

.from {
  // padding: 0 24px;
  gap: 12px;
  display: grid;
}

.client {
  gap: 12px;
  padding: 12px;
  display: grid;
  cursor: pointer;
  border-radius: 6px;
  &:hover {
    background-color: #f4f6f8;
  }
}

.invoiceInfos {
  gap: 12px;
  display: grid;
  padding: 0 24px;
  grid-template-columns: repeat(2, 1fr);
}

.details {
  gap: 12px;
  display: grid;
  padding: 0 24px;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.secondTitle {
  color: #111111;
  padding: 0 24px;
  height: fit-content;
}

.addCustomer {
  padding: 8px;
  display: flex;
  cursor: pointer;
  color: #919eab;
  border-radius: 6px;
  margin-right: 24px;
  height: fit-content;
  &:hover {
    background-color: #e6e6e6;
  }
}

.itemsList {
  gap: 12px;
  display: grid;
}

.item {
  gap: 24px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.total {
  gap: 16px;
  display: grid;
  padding: 0 24px;
  justify-content: start;
}

.totalItem {
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.secondary {
  color: #637381;
}

.bottom {
  bottom: 0;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: center;
  padding-right: 24px;
  justify-content: flex-end;
  background-color: white;
  border-top: 1px solid #e0e0e0;
  width: -webkit-fill-available;
}

.buttons {
  gap: 12px;
  display: flex;
}

.link {
  gap: 6px;
  display: flex;
  padding: 24px 24px 0 24px;
  font-size: 18px;
  color: #919eab;
  align-items: center;
}

// * ==========================================================================
// * Invoice Preview
// * ==========================================================================

.invoicePreview {
  gap: 24px;
  height: 100%;
  margin: 12px;
  padding: 24px;
  display: grid;
  border-radius: 16px;
  width: calc(100% * 210 / 297); /* Maintain A4 aspect ratio */
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}

.header {
  display: grid;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background-color: #f9fafc;
  grid-template-columns: repeat(2, 1fr);
}

.previewTitle {
  color: #8f93a7;
}

.clientInfos,
.invoiceNum {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.invoiceNum {
  align-items: flex-end;
}

.tableDetails {
  gap: 16px;
  display: grid;
}

.group {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  p:last-child {
    text-align: right;
  }
}

.divider {
  width: -webkit-fill-available;
  border-bottom: 1px solid #e5e7eb;
}

.summary {
  gap: 16px;
  display: grid;
}

.summaryItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ttcGlobal {
  width: 100%;
  display: flex;
  align-items: center;
}

.ttc {
  gap: 100px;
  padding: 12px;
  display: flex;
  min-width: fit-content;
  border-radius: 8px;
  background-color: #e5e7eb;
}

.footer {
  display: grid;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  background-color: #f9fafc;
}
