.clientContainer {
  gap: 12px;
  display: flex;
  align-items: center;
}

.clientLetter {
  width: 36px;
  height: 36px;
  display: flex;
  color: white;
  font-size: 18px;
  align-items: center;
  border-radius: 60px;
  justify-content: center;
  background-color: #9198a6;
}
