@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css");

@font-face {
  font-family: "HelveticaNowText";
  src: url("./assets/fonts/HelveticaNowText-Black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowText";
  src: url("./assets/fonts/HelveticaNowText-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowText";
  src: url("./assets/fonts/HelveticaNowText-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* Extra Bold */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowText";
  src: url("./assets/fonts/HelveticaNowText-ExtraLight.ttf") format("truetype");
  font-weight: 200; /* Extra Light */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowText";
  src: url("./assets/fonts/HelveticaNowText-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowText";
  src: url("./assets/fonts/HelveticaNowText-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowText";
  src: url("./assets/fonts/HelveticaNowText-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNowText";
  src: url("./assets/fonts/HelveticaNowText-Thin.ttf") format("truetype");
  font-weight: 100; /* Thin */
  font-style: normal;
}

body {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #353537;
  font-family: "HelveticaNowText", sans-serif;
}

h1 {
  line-height: 1;
  font-weight: 700;
  font-family: "HelveticaNowText";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

i {
  display: flex;
}

em {
  font-family: "HelveticaNowText";
  font-weight: 400;
  font-style: italic;
}
